<div class="maincontent">
  <article class="article">
    <h1 class="article-title">8 Essential English Novels Everyone Should Read</h1>
      <p>The classic novels on this list are my (non-exhaustive) selection of ‘must-read’ books for anyone who wants to gain a better understanding of English literature. What counts as English literature spans over a thousand years, but you’ll find most of the great classics that well-educated people are often expected to have read – what’s known as the ‘canon’ – were primarily written in the 19th century or a little after, so this list focuses on that time period. Whether you’re a native English speaker or just learning, add these books to your reading list and make it your mission to read them all before the year is out.</p>
      <p>These remarkable novels have all left their mark on popular culture and embedded themselves into the English psyche. Once you’ve read them all, you’ll have more of an idea of where your own literary tastes lie and you can make up your own list by taking from this one and adding your own. What would you add to this list? Let us know in the comments section below!</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">References taken from!</h1>
    <p>Import JSON-formatted data into MongoDB, <a href="https://knowledge.kitchen/Books_example_data_set">books.json datashet</a>, <a href="https://www.oxford-royale.co.uk/articles/12-literary-works-read.html">Link to information about books and authors</a>. Homepage information is copied from</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Web based application build using:</h1>
    <ul>
      <li>Handling HTTP requests with Node.js and Express using JSON file as MongoDB</li>
      <li>EJS as View Template with CSS, JavaScript, Bootstrap and AJAX</li>
      <li>Additional use of creating API route and live chat features with Socket.IO</li>
    </ul>
  </article><!-- article -->
</div>
