<article class="sidebar">
  <h1 class="sidebar-title">Other Essential books!</h1>
  <ul class="sidebar-body">
    <li>Wuthering Heights, by Emily Brontë</li>
    <li>Middlemarch, by George Eliot</li>
    <li>Nineteen Eighty-Four, by George Orwell</li>
    <li>Diary of a Nobody, by George and Weedon Grossmith</li>
    <li>His Dark Materials, trilogy by Philip Pullman</li>
    <li>Jane Eyre, by Charlotte Brontë</li>
  </ul>
</article><!-- article -->
